h1 {
  color: blue;
}
#title {
  padding-top: 200px;
  text-align: center;
  background-image: url("../Images/plufow-le-studio-lRcPeX_5zUQ-unsplash.jpg");
  background-position: center top;
}
button:hover {
  background-color: red;
  cursor: pointer;
  font-size: 20px;
}
