 h1{
      color:blue
  }
  #title{\
      width: 100%;
      text-align: center;
      margin-top: 50px;
  }
  button:hover{
      background-color:red;
      cursor: pointer;
      font-size: 20px;
  }